html, body {
    background-color: #86A3B8;
    height: 100%;
    margin: 0;
    padding: 0;
}
.footer, .navbar-dropdown {
    background-color: #86A3B8;
}
.card {
    background-color: #333;
    color: #fff;
}
* {
    color: #fff !important;
}
.navbar, .notification {
    background-color: #F55050;
}
.box, .input, .vue-treeselect__control, .vue-treeselect__menu {
    background-color: #F48484;
}
.tag, .vue-treeselect__multi-value-item {
    background-color: #F55050 !important;
}
.button.is-link.is-light {
    background-color: #f55050 !important;
}
.pagination-link.is-current, .button {
    background-color: #F55050 !important;
}
.vue-treeselect__option--highlight, .vue-treeselect__option--selected {
    background: #F55050 !important;
}
.navbar-dropdown a.navbar-item:hover {
    background-color: #F55050 !important;
}
.pagination-link.is-current, .button {
    background-color: #86a3b8 !important;
}